@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom scrollbars */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgba(118, 230, 168, 0.15);
  border-radius: 9999px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(118, 230, 168, 0.35);
}

/* Custom transitions and utility animations */
@layer utilities {
  .titlebar-drag-region {
    -webkit-app-region: drag;
  }
  .titlebar-no-drag {
    -webkit-app-region: no-drag;
  }
}
